@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Leckerli+One&display=swap');

/*
* ====================
* Global Styles
* ====================
*/
:root {
  --base: #071B85;
  --alt: #FF5C00;
  --light: #E5E5E5;
  --dark: #000;
  --mid: #081F4A;
  --error: #F02525;
  --success: #23F534;
  --warning: #FFA500;
  --white: #FFF;
  --grey: #F4F4F5;
  --lato: 'Lato', sans-serif;
  --leck: 'Leckerli One', cursive;
  --transition: all 0.5s ease;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font-family: var(--lato);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--base);
}

/*
* ====================
* Laoding Spinner
* ====================
*/
.overlay {
  width: 100%;
  height: 100%;
  background: var(--white);
  opacity: 0.5;
  backdrop-filter: blur(3px);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 10px solid var(--base);
  border-top-color: var(--light);
  border-radius: 50%;
  animation: spin 1s infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg)}
  100% { transform: rotate(360deg)}
}

/*
* ====================
* Resizeable Div
* ====================
*/
#container {
  min-width: 325px;
  word-wrap: break-word;
  position: relative;
  background: transparent;
  flex-grow: 1;
  border-right: 2px solid var(--grey);
  overflow-y: scroll;
}

#draghandle {
  height: 100%;
  border: 1px solid var(--grey);
  position: absolute;
  top: 0;
  right: 0;
  cursor: col-resize;
  z-index: 2;
}

/*
* ====================
* Accordion
* ====================
*/
.accordion_header{
  width: 105%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  color: var(--base);
  border: 1px solid var(--mid);
  padding: 0.5rem 1rem;
  cursor: pointer;
  user-select: none;
  transition: var(--transition);
}

.accordion_header:hover, 
.accordion_header.active{
  background: var(--grey);
}

.accordion_body{
  width: 100%;
  color: var(--base);
  padding: 0.5rem 1.5rem;
  transition: var(--transition);
}

