@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Leckerli+One&display=swap');

:root {
  --base: #071B85;
  --alt: #FF5C00;
  --light: #E5E5E5;
  --dark: #000;
  --mid: #081F4A;
  --error: #F02525;
  --success: #23F534;
  --white: #FFF;
  --lato: 'Lato', sans-serif;
  --leck: 'Leckerli One', cursive;
  --transition: all 0.5s ease;
}

::-webkit-scrollbar {
  width: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font-family: var(--lato);
  overflow-x: hidden;
}

main {
  padding: 1rem 0.5rem;
}

a {
  text-decoration: none;
  color: var(--base);
}

/*
* ====================
* Laoding Spinner
* ====================
*/
.overlay {
  width: 100%;
  height: 100%;
  background: var(--light);
  backdrop-filter: blur(3px);
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.spinner {
  width: 100px;
  height: 100px;
  border: 10px solid var(--base);
  border-top-color: var(--light);
  border-radius: 50%;
  animation: spin 1s infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg)}
  100% { transform: rotate(360deg)}
}
